.section-main-div {
    height: 100vh;
    width: 100%;
    margin-top: 5rem;
}

.section-hero-section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: white;
    padding-top: 3rem;
}

.section-image-list {
    width: 100%;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.section-image-item {
    width: 50%;
    aspect-ratio: 1;
}

.icon-button {
    color: 'rgba(255, 255, 255, 0.54)'
}

.list-sub-header {
    background-color: white;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    padding: 0.6rem;
    border-style: inset;
    text-transform: capitalize;
    color: black;
    margin-bottom: 4rem;
}